/*******************************/
/* The side navigation menu    */
/* * * * * * * * * * * * * * * */
/* Student name: Olena Spektor */
/*******************************/

#mySidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    background-color: #404040;
    top: 0;
    left: 0;
    overflow: visible;
}

#home, #help, #info {
    height: 60px;
}

#homeimg:hover, #helpimg:hover, #infoimg:hover {
    width: 35px;
    height: 35px;
    transition: 0.2s;
    padding: 16px 0px 0px 5px;
}

#homeimg, #helpimg, #infoimg {
    width: 30px;
    height: 30px;
    padding: 16px 0px 0px 9px;
    
}

.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #404040;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
 
    position: absolute;
    top: 23px;
    left: 140%; 
    z-index: 1;
   
    opacity: 0;
    transition: opacity .6s;
    transition-delay: 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}



/******************************/
/* Main screen                */
/* * * * * * * * * * * * * * * /
/* Student name: Johnny Kingi */
/******************************/
#main {
    padding: 20px;
    margin-left: 50px;
    margin-right: -8px;
}

#current-location {
    width: 49%;
    float: left;
}

#chosen-location {
    width: 49%;
    float: right;
}

h1 {
    margin-bottom: 40px;
    color: black;
    font-family: tahoma;
}

h2 {
    padding-top: 10px;
    font-family: tahoma;
}

#help-text {
    font-family: Arial;
}

#map,#map2 {
    position:relative;
    height: 200px;
    width: 90%;
    margin-top: 20px;
}
img {
    width: 90px;
    height: 100px;
}
input {
    width: 90%;
    height: 20px;
    font-size: 12pt;
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
}
button {
    width: 80%;
    height: 30px;

    color: white;
    font-size: 16px;
    font-family: Tahoma;
    background-color: #5c5c8a;
    
}
button:hover {
    background-color:  green;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/******************************/
/* More Details Page          */
/* * * * * * * * * * * * * * * /
/* Student name:              */
/******************************/

#table {
    margin-left: -4px;   
}

td {
    width: 130px;
}

tr {
    height: 25px;
}




/******************************/
/* Help Page                  */
/* * * * * * * * * * * * * * * /
/* Student name:              */
/******************************/

#help-text {
    margin-left: -24px;  
}




/******************************/
/* Resources Page          */
/* * * * * * * * * * * * * * * /
/* Student name:              */
/******************************/

#resources-text {
    margin-left: -24px;    
}