/*******************************/
/* The side navigation menu    */
/* * * * * * * * * * * * * * * */
/* Student name: Olena Spektor */
/*******************************/

#mySidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    background-color: #404040;
    top: 0;
    left: 0;
    overflow: visible;
}

#home, #help, #info {
    height: 50px;
}

#homeimg:hover, #helpimg:hover, #infoimg:hover {
    width: 35px;
    height: 35px;
    transition: 0.2s;
    padding: 16px 0px 0px 5px;
}

#homeimg, #helpimg, #infoimg {
    width: 30px;
    height: 30px;
    padding: 16px 0px 0px 9px;
    
}

.tooltip {
    position: relative;
    display: inline-block;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #404040;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
 
    position: absolute;
    top: 23px;
    left: 140%; 
    z-index: 1;
   
    opacity: 0;
    transition: opacity .6s;
    transition-delay: 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}



/******************************/
/* Main screen                */
/* * * * * * * * * * * * * * * /
/* Student name: Johnny Kingi */
/******************************/
#main {
    padding: 20px;
    margin-left: 50px;
    margin-right: -8px;
}

#current-location {
    width: 49%;
    float: left;
    text-align: center;
}

#chosen-location {
    width: 49%;
    float: right;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
    color: #e60073;
    font-family: Tahoma;
    text-shadow: 2px 2px 2px black;
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 16pt;
    font-family: Tahoma;
}

#map,#map2 {
    position:relative;
    height: 200px;
    width: 90%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
img {
    width: 90px;
    height: 100px;

    display: block;
    margin: auto;
}
input {
    width: 90%;
    height: 20px;
    font-size: 12pt;
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
}
button {
    width: 80%;
    height: 30px;

    border: none;  /*Removed borders of the buttons*/
    margin-bottom: 50px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #5c5c8a;
}

button:hover {
    width: 82%;
    height: 33px;

    background-color: #5c5c8a;
    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.60), 0 12px 17px 0 rgba(0,0,0,0.25);
    transition: .3s;
}

table {
    width: 90%;
    height: 200px;

    font-size: 14pt;
    text-align: center;
    margin: auto;
}
th {
    font-size: 18pt;
    font-family: Tahoma;
    color: #e60073;
    text-shadow: 1px 1px 1px black;
    
}
td,th {
    /* border-bottom: 1px solid #ddd; */
}


/******************************/
/* More Details Page          */
/* * * * * * * * * * * * * * * /
/* Student name:              */
/******************************/

#table {
    margin-left: -4px;   
}

td {
    width: 130px;
}

tr {
    height: 25px;
    padding: 0px;
    font-family: Tahoma;
    font-size: 14pt;
}

tr:hover{background-color: #f5f5f5}

#moreWeatherDetails {
    margin-left: 50px;
    margin-top: 0px;
    padding-top: 0px;
    
}



/******************************/
/* Help Page                  */
/* * * * * * * * * * * * * * * /
/* Student name:              */
/******************************/

#help-text {
    margin-left: -24px;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/******************************/
/* Resources Page          */
/* * * * * * * * * * * * * * * /
/* Student name:              */
/******************************/

#resources-text {
    margin-left: 0px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}